.news{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    color: black;
    margin-top: 150px;
}
.news .cardes{
    width: 80%;
    margin: auto;

}
.news .cardes .card{
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 15px;
}
.news .cardes .card img{
    min-width: 250px;
    height: 200px;
    border-radius: 5px;
    display: inline-block;
}
.news .cardes .card div a{
    font-size: 2rem;
    display: block;
    font-weight: 700;
    color: black;

}
.news .cardes .card div span{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.538);
}